*{
    margin: 0;
    padding: 0;
}

body{  
    background-color: #F0F9FF;
    font-family: "Inter", sans-serif;
}

.calendar {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,35%);
}

.calendar > div {
    background-color: white;
    padding: 8px;
    padding-left: 20px;
    padding-top: 12px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: #00000040 0px 2px 2px;
    font-size: 32px;
}