* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccebff;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.navbar{
    width: 100%;
    background-color: #859fc1;
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 14px;
  }

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.title-container img{
    height: auto;
    width: 75px;
    margin-bottom: 20px;
}
