body {
  background: #ccebff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.rubrik {
  text-align: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.login-box { 
  padding: 40px 30px;
  width: 450px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
